<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.finance.mapper.CardMapper">
	
	<select id="isRegister" parameterType= "String" resultType="String">
		SELECT C_HASH FROM M_CARD WHERE M_ID =#{M_ID}
	</select>
	
	<select id="getCardNum" parameterType= "String" resultType="String">
		SELECT C_ID FROM M_CARD WHERE M_ID =#{M_ID}
	</select>
	
	<insert id="regitCardInfo" parameterType="com.spring.finance.domain.CardVO">
		INSERT INTO M_CARD VALUES(#{C_ID}, #{C_MM}, #{C_YY}, #{C_CVC}, #{C_COMPANY}, #{C_HASH}, #{M_ID}, #{CARD_TYPE}, #{ACCOUNT_NUMBER})
	</insert>
	
	<update id="updateCard" parameterType="com.spring.finance.domain.CardVO">
		UPDATE M_CARD SET C_ID = #{C_ID}, C_MM = #{C_MM}, C_YY = #{C_YY}, C_CVC = #{C_CVC}, C_COMPANY = #{C_COMPANY}, C_HASH = #{C_HASH}, CARD_TYPE = #{CARD_TYPE}, ACCOUNT_NUMBER = #{ACCOUNT_NUMBER} WHERE M_ID = #{M_ID}
	</update>
	
</mapper>