<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.finance.mapper.KCardMapper">
	
	<select id="getCardType" parameterType= "java.util.HashMap" resultType="String">
		SELECT CARD_TYPE FROM K_CARD WHERE K_ID =#{K_ID}
	</select>
	
	<select id="getCardHash" parameterType= "java.util.HashMap" resultType="String">
		SELECT K_HASH FROM K_CARD WHERE K_ID =#{K_ID} AND K_MM =#{K_MM} AND K_YY = #{K_YY} AND K_CVC = #{K_CVC}
	</select>
	
	<insert id="regitCardInfo" parameterType= "com.spring.finance.domain.KCardVO">
		INSERT INTO K_CARD(K_ID, K_MM, K_YY, K_CVC, K_COMPANY, K_HASH) VALUES(#{K_ID}, #{K_MM}, #{K_YY}, #{K_CVC}, #{K_COMPANY}, #{K_HASH})
	</insert>
	
</mapper>