<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.finance.mapper.RankMapper">

	<select id="getProductRegisterList" resultType="String">
		select M_ID from MEMBER where PR_REG_IDX = '1'
	</select>
	
	<select id="getRankRealtime" parameterType="String" resultType="com.spring.finance.domain.PaymentVO">
		select * from PAYMENT_TOTAL where PAY_MONTH = #{PAY_MONTH}order by PAY_TOTAL ASC
	</select>
	
	<select id="getSuccess" parameterType="String" resultType="String">
		select PL_SUCCESS from PLAN where M_ID = #{M_ID} and PL_ID = #{PL_ID}
	</select>
	
	<select id="getRealtimeScore" parameterType="com.spring.finance.domain.PlanVO" resultType="Double">
		select PAY_TOTAL from PAYMENT_TOTAL where M_ID = #{M_ID} and PAY_MONTH = #{PL_ID}
	</select>
	
	<select id="getRankTotalID" resultType="String">
		select M_ID from RANK_TOTAL
	</select>
	
	<insert id="setFinalRank" parameterType="com.spring.finance.domain.RankVO">
		insert into RANK_TOTAL (M_ID, TOTAL_SCORE) values(#{M_ID}, #{TOTAL_SCORE})
	</insert>
	
	<update id="updateRankTotal" parameterType="com.spring.finance.domain.RankVO">
		update RANK_TOTAL set TOTAL_SCORE = #{TOTAL_SCORE} where M_ID = #{M_ID}
	</update>
	
	<select id="getRankTotal" resultType="com.spring.finance.domain.RankTotalVO">
		select * from RANK_TOTAL order by TOTAL_SCORE DESC
	</select>
	
	<select id="getTransferAmount" parameterType="com.spring.finance.domain.PlanVO" resultType="Double">
		select TRANSFER_MONEY from TRANSFER where M_ID = #{M_ID} and TRANSFER_DATE = #{PL_ID}
	</select>
	
	<select id="getPlanTotal" parameterType="String" resultType="Double">
		select PLD_PRICE from PLAN_DETAIL where M_ID = #{M_ID} and PL_ID = #{PL_ID}
	</select>
	
	<update id="updateMPoint" parameterType="com.spring.finance.domain.MemberVO">
		update MEMBER set M_POINT = #{M_POINT} where M_ID = #{M_ID}
	</update>

</mapper>